:root {
  --main-bg-color: hsl(50,20%,96%);
  --image-text-color: hsl(50,10%,88%);
  --main-ingress-color:hsl(20,12%,25%);
  --main-text-color: hsl(25,20%,15%);
  --light-text-color: hsl(40,5%,30%);
  --lightest-text-color: hsl(60,5%,85%);
  --accent-color: hsl(30,90%,60%);
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

#cover {
    position: relative;
    margin-bottom: 2rem;
    /* overflow: hidden; */
    height: 85vh;
    opacity: 1;
    /* box-shadow: 0px 0px 20px 20px  black; */
    font-family: 'Roboto', sans-serif;
    font-family: 'Bitter', 'Georgia', serif;

}

.article-header-img {
    position: relative;
    /* background-image: url('img/Jupiter.jpg'); */
    background-size: cover;
    /* filter: brightness(40%); */
    height: 85vh;
    background-position: center;
    z-index: -1;
}

.article-header-text {
    position: absolute;
    bottom: -40%;
    left: 5%;
    color: var(--main-text-color);
    background-color: whitesmoke;
    background-color: black;

    width: 80vw;
    height: 80vw;
    padding: 5%;
    /* line-height: 1.3rem; */
    border-radius: 50%;
    border-top: 6px solid hsl(30,50%,60%);
    border-left: 6px solid hsl(20, 50%,50%); 
    box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 15px  hsl(20, 50%,60%);

}

.article-header-wrapper {
    background-color: white;
    width: 90%;
    max-width: 55em;
    margin: auto;
    margin-top: -128px;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 10;
    /* border-radius: 5px; */
    box-shadow: 0px 1px 25px rgba(0,0,0,0.2);

}



.article-header-text-name {
    color: var(--main-text-color);
    color: black;
    color: white;

    text-align: center;
    /* background-color: black; */
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    /* text-shadow: 0 0 3px black; */
    margin-bottom: 0.8rem;
    margin-top: 2.4rem;

}

.article-header-text-ingress {
  width: 80%;
  margin: auto;
    /* letter-spacing: 0.04em; */
  font-family: 'Alegreya Sans';

    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    hyphens: auto;
    color: var(--main-ingress-color);
    color: var(--lightest-text-color);
}

.article-header-text-date {
    color: var(--light-text-color);
    color: var(--accent-color);

    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.8rem;
}

.article-header-text-author {
    color: var(--light-color);
    font-size: 1rem;
    font-weight: 400;
    /* font-style: italic; */
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    text-align: center;
}

#date-share {
  width: 90%;
  margin: auto;
  /* margin-top: 1rem; */
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.date {
  width: 100%;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;

  font-size: 1rem;
  font-weight: 400;
  color: var(--light-text-color)
}

#share-buttons {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#share-buttons a {
  text-decoration: none;
  display: flex;
  margin: 0;
  border-radius:50%;
}

#share-buttons img {
  width: 2rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.share-button {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  display: flex;
  margin-left: 0.6rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /* filter: grayscale(100%); 
  filter: invert(100%); */
}

.share-button:hover {
  filter: brightness(110%);
}


.first-character {
  float: left;
  /* display: flex; */
  font-size: 5.15rem;
  line-height: 3.6rem;
  padding-top: 0.535rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 8px;
  /* align-items: baseline; */
}

.article-title {
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 90%;
  margin: auto;
  color: var(--main-text-color);
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr.style1 {
  width: 20%;
  margin-bottom: 1rem;
}

.eclipse {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: black;
  /* border-top: 2px solid orange; */
  /* border-left: 2px solid orange; */
  box-shadow: -2px -2px 6px 3px orange;
  color: #EFEDCE;
    /* font-family: 'Alegreya Sans SC', sans-serif; */

  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  /* text-shadow: 10px 10px 10px 10px white; */
  margin-right: 0.5rem;
  margin-bottom: 0rem;
}

.article-text-ingress {
  width: 90%;
  margin: auto;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  hyphens: auto;
  color: var(--main-ingress-color);
  margin-bottom: 1rem;
}

.article-text {
    width: 90%;
    max-width: 30em;
    margin: auto;
    margin-top: 1.5rem;
    font-family: 'Bitter';
    /* font-family: 'Georgia'; */
    /* font-family: 'Roboto'; */
    /* font-size: 1.125rem; */
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.3em; */
    line-height: 1.5em;
    color: var(--main-text-color);
}

.article-text p {
   margin-top: 0rem;
}

.article-text h4 {
  font-family: 'Roboto', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Bitter', 'Georgia', serif;

  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
  text-transform: none;
}

.article-image {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:var(--image-text-color);
}

.article-image-text {
  width: 90%;
  margin: auto;
  padding-bottom: 0.6rem;
  padding-top: 0.4rem;
  background-color: var(--image-text-color);
  font-family: 'Roboto', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;

  font-size: 1rem;
  font-weight: 500;
  color: var(--main-text-color);

}

.boxed-text-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: var(--image-text-color);
  /* background-color: hsl(60,20%,99%); */
  /* background-color: hsl(30,10%,98%); */
  background-color: #9cb8b3;
  box-shadow: 0 2px 10px 4px  hsla(0,0%,0%,0.05);
  /* opacity: 0.95; */
}

.boxed-text {
  width: 90%;
  max-width: 30em;
  margin: auto;
  padding-bottom: 0rem;
  padding-top: 0;
  font-family: 'Roboto';
  font-family: 'Alegreya Sans', sans-serif;

  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--main-ingress-color);
  /* opacity: 0.9; */
  /* color: rgba(0,0,0,.5); */
}

.boxed-text h1 {
  color:#EFEDCE;
  letter-spacing: 0.02em;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;

}

.boxed-text h3 {
  color: var(--main-text-color);
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  /* text-transform: uppercase; */
  /* color:#EFEDCE; */
  /* letter-spacing: 0.02em; */
}