:root {
  --main-bg-color: white;
  --main-ingress-color:hsl(25,12%,15%);
  --main-text-color: hsl(25,12%,15%);
  --light-text-color: hsl(40,5%,50%);
  --lightest-text-color: hsl(50,10%,75%);
  --accent-color: hsl(30,90%,60%);
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#cover {
    position: relative;
    margin-bottom: 1.5rem;
    overflow: hidden;
    height: 85vh;
}

.article-header-img {
    position: relative;
    /* background-image: url('img/Jupiter.jpg'); */
    background-size: cover;
    filter: brightness(40%);
    height: 85vh;
    background-position: center;
    background-attachment: fixed;
}

.article-header-text {
    position: absolute;
    bottom: 3%;
    left: 5%;
    color: var(--lightest-text-color);
    opacity: 0.9;
    width: 90%;
    line-height: 1.25rem;
    font-size: 1.125rem;
    font-weight: 500;
}

.article-header-text-name {
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 3px black;
    margin-bottom: 0.8rem;
}

.article-header-text-date {
    color: orange;
    font-size: 0.8em;
    margin-bottom: 0.3rem;
    opacity: 0.9;
}

#author-share {
  width: 90%;
  margin-top: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.author {
  width: 100%;
  margin-top: 8px;
  font-weight: 100;
  color: var(--light-text-color)
}

#share-buttons {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

#share-buttons a {
  text-decoration: none;
  display: flex;
  margin: 0;
  border-radius:50%;
}

#share-buttons img {
  width: 2rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.share-button {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  display: flex;
  margin-left: 0.6rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /* filter: grayscale(100%); 
  filter: invert(100%); */
}

.share-button:hover {
  filter: brightness(110%);
}

.article-ingress {
    width: 90%;
    margin: auto;
    max-width: 30em;
    color: var(--main-ingress-color);
    font-size: 1.25rem;
    font-weight: 500;
    display: none;
}

.article-text {
    width: 90%;
    max-width: 30em;
    margin: auto;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25em;
    color: var(--main-text-color);
}
