:root {
  --main-bg-color: hsl(50,20%,96%);
  --main-art-color:white;
  --main-text-color:black;
  --main-ingress-color:hsl(20,12%,20%);

  --light-text-color: grey;
}


* {
box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

/* 

spacing sizes:
4 8 12 16 24 32 48 64 96 128 192 256 384 512 640 768 px

font sizes: 
px  12   14    16 18    20   24  30    36   48 60   72
rem 0.75 0.875 1  1.125 1.25 1.5 1.875 2.25 3  3.75 4.5

warm grey:
darkest
hsl(41, 15%, 28%)
hsl(40, 12%, 23%)
hsl(39, 12%, 58%)
hsl(39, 16%, 76%)
hsl(39, 21%, 88%)
white
lightest

*/

/*

Do to:
choose color
add links
fix header
*/

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
  color:inherit;
}



#feature-text-wrapper {
    padding: 5%;
    cursor: pointer;
}

#feature-text {
    color: white;
}

.feature-text-header {
    font-family: 'Alegreya Sans', sans-serif;
    text-shadow: 0px 0px 2px black;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.feature-text-ingress {
    font-size: 1.25rem;
    font-weight: 500;

}

.feature-text-read-more {
    margin-top: 0.6rem;
    font-size: 1.25em;
    font-weight: 500;
    color: orange;
}

#articles {
    width: 100%;
    margin: auto;
    /* margin-top: 8px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.article-wrapper {
    width: 100%;
    padding-top: 1.5rem;
}

.article {
    position: relative;
    width: 100%;
    margin: auto;
    cursor: pointer;
    background-color: hsl(100,15%,90%);
    color: var(--main-text-color); 
    color: white;
  color: var(--main-ingress-color);

}

.article-image {
    position: relative;
    width: 100vw;
    height: 40vh;
    margin: auto;
    background-position: center;
    background-size: cover;
}

.article-header {
    position: relative;
    width: 90%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
     color: black;

}

.article-text {
    width: 90%;
    margin: auto;
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 500;
    margin-top: 0.8rem;
    padding-bottom: 1rem;
    hyphens: auto;
      color: var(--main-ingress-color);

}

.article-date-wrapper {
    width: 90%;
    margin: auto;
    position: absolute;
    left: 5%;
    margin-top: 1rem;
}

/* .article-date {
    position: relative;
    opacity: 0.9;
} */

.article-date {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: var(--light-text-color);
    position: relative;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    opacity: 0.8;
    margin-top: 0.4rem;
    /* text-align: right; */
    /* transform: rotate(-90deg); */

}

.article-date h3 span {
    /* padding-right: 6px; */
    /* padding-left: 6px; */
}

/* .article-date h3:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid var(--light-text-color);
    z-index: -1;
    opacity: 0.6;
} */
