:root {
  --main-bg-color: white;
  --main-art-color:white;
  --main-text-color:black;
  --light-text-color: grey;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* 

spacing sizes:
4 8 12 16 24 32 48 64 96 128 192 256 384 512 640 768 px

font sizes: 
px  12   14    16 18    20   24  30    36   48 60   72
rem 0.75 0.875 1  1.125 1.25 1.5 1.875 2.25 3  3.75 4.5

warm grey:
darkest
hsl(41, 15%, 28%)
hsl(40, 12%, 23%)
hsl(39, 12%, 58%)
hsl(39, 16%, 76%)
hsl(39, 21%, 88%)
white
lightest

*/

/*

Do to:
choose color
add links
fix header
*/


#feature {
    width: 100%;
    height: 85vh;
    background-image: url('img/feature.jpg');
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1)), url('img/feature.jpg'); */
    background-size: cover; 
    background-position: center;;
    display: flex;
    align-items: flex-end; 
}

#feature-text-wrapper {
    padding: 5%;
    cursor: pointer;
}

#feature-text {
    color: white;
    font-size: 1rem;
    font-weight: 300;

}

.feature-text-header {
    font-size: 2rem;
    font-weight: 400;
}

.feature-text-read-more {
    margin-top: 1rem;
    font-size: 1rem;
    color: orange;

}

#articles {
    width: 100%;
    margin: auto;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.article-wrapper {
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
}

.article {
    position: relative;
    width: 100%;
    margin: auto;
    cursor: pointer;
}

.article-image {
    position: relative;
    width: 90%;
    height: 40vh;
    margin: auto;
    background-position: center;
    background-size: cover;
}

.article-header {
    position: relative;
    color: black;
    width: 90%;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;

}

.article-text {
    width: 90%;
    margin: auto;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
    margin-top: 0.8rem;
    hyphens: auto;
    color: var(--main-text-color); 
}

.article-date-wrapper {
    width: 90%;
    margin: auto;
    position: absolute;
    left: 5%;
    margin-top: 0.8rem;
}

.article-date {
    position: relative;
    opacity: 0.9;
}

.article-date h3 {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    color: var(--light-text-color);
    position: relative;
    text-align: right;
}

.article-date h3 span {
    background-color: var(--main-art-color);
    padding-right: 6px;
    padding-left: 6px;
}

.article-date h3:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid var(--light-text-color);
    z-index: -1;
    opacity: 0.6;
}

.text {
    width: 90%;
    max-width: 30em;
    margin: auto;
    background-image: url('img/feature.jpg');
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-text-color);
}