#navbar {
  background-color: var(--pseudo-black); /* Black background color */
  color: var(--pseudo-white);
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  height: 50px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  box-shadow: 0 4px 20px 6px  hsla(0,0%,0%,0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  opacity: 0.9;
}

#navbar .logo {
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
  font-family: 'Alegreya Sans SC',sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--accent-color)
}

.logo a {
  text-decoration: none;
  color: inherit;
}

#navbar .hamburger {
  margin-left: 5%;
  margin-right: 5%;
}
